/*--------------- ACTIVIDADES -------------*/

.titulo__actividades {
  font-size: $size_titulos/2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: $color_titulos;
}

.actividades {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.actividad {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.flex {
  grid-area: flex;
}

.stretch {
  grid-area: stretch;
}

.hatha {
  grid-area: hatha;
}

.vinyasa {
  grid-area: vinyasa;
}

.reflex {
  grid-area: reflex;
}

.integral {
  grid-area: integral;
}

.alineacion {
  grid: alineacion;
}

.feldenkrais {
  grid: feldenkrais;
}

.multinivel {
  grid-area: multinivel;
}

