.titulo__productos {
    color: $color_titulos;
    font-size: $size_titulos/2;
    background-color: black;
    padding: 3em;
    margin: 2em;
    display: flex;
    justify-content: center;
}

/* CONDICIONALES */

$modo: normal ; /* Mi variable */
.titulo__productos {
      @if $modo == normal {
            background-color: black ;
            color: $color_titulos;
      } @else if $modo == invertido {
                background-color: $color_titulos ;
                color: black;
     } @else if $modo == psicodelico {
                background: #fc4a1a;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: #23089b;
     } @else {
                background-color: #fc4a1a;
                color: black;
      }
}

/* BUCLES */

.productos {
    display: flex;
    justify-content: space-around;
}

@for $i from 1 through 4 {
    .producto-#{$i} { 
        width: 100px * $i; 
        height: 100px * $i;
        background-color: $color_general;
        border: dashed 2px black;
        color: $color_parrafo;
        font-size: $size_parrafo/4 * $i;
    }
}

@each $redes in horarios, facebook, whatsapp, telegrama {
    .#{$redes}-icono { 
          background-image: url('/Imagenes/#{$redes}.png');
          width: 3em;
          height: 3em;
          
    }
}